<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325540188196-uidvel5sa7vpbccd5hdl00bua57dt79i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325540188196-uidvel5sa7vpbccd5hdl00bua57dt79i</string>
	<key>API_KEY</key>
	<string>AIzaSyCvpF_awdZJX4X4_qsDGRpoDqMZcPpfr3M</string>
	<key>GCM_SENDER_ID</key>
	<string>325540188196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyeningcode.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1b964</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1b964.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325540188196:ios:bf4570b8becae242b388b1</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-1b964.firebaseio.com</string>
</dict>
</plist>